
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.board-container {
  margin: 20px
}
.board-row {
  display: flex;
  align-items: center;
}
.square-box {
  border: white solid 1px;
  height: 100px;
  width: 100px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: white;
  background-color: lightblue;
}
.playAgain {
  color: white;
  background-color: lightskyblue;
  height: 30px;
  width: 80px;
  cursor: pointer;
}
.playAgain:hover {
  background-color: yellowgreen;
}
.turn {
  color: yellowgreen;
}